USE [COMPANY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 6/28/2026 9:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [smallint] NULL,
	[Address] [nvarchar](max) NULL,
	[Salary] [decimal](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
